@font-face {
font-family: "GothamBold";
src: url(/Gotham-Bold.otf) format(".otf");
}

* {
	font-family: GothamBold;
	color: white;
}

.sideDiv {
	position:fixed;
	width:50vw;
	height:100vh;
	text-align:center;
}

.title {
	font-size:50px;
}

#homeIcon {
	position:fixed;
	margin:auto;
	width:10vw;
	height:auto;
}