@font-face {
	font-family: mainFont;
	src: url(gotham-xnarrow-thin.otf);
}

* {
	color:white;
	font-family: mainFont;
}

#opener {
	font-size: 200%;
	text-align: center;
	background-color: #2163B7;
}

#home {
	height: 2000px;
	background-color: #4183D7;
}